body{
  padding: 25px;
  font-size: 35px;
  
  .title {
	color: #5C6AC4;
}
  
  p{
    font-size: 30px;
  }
}


#instructions{
 width: 50%;
 max-width: 300px;
max-height: 50vh;
  margin: auto;
  border: none;
  border-radius: 8px;
  background: #001a26;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  
  *{
    color: #00ffaa;
  }
  
  h2{
    font-size: 30px;
  }

  p{
  font-size: 20px;
}

img{
  margin-bottom: 15px;
}
  
 &::backdrop{
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
 } 
}
